.news-title {
    margin-top:30px;
    width:740px;
    padding:20px 15px 9px 15px;
}

.news-title * {
    text-align: start;
}

.news-title-main{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;  
    letter-spacing: -0.02em;   
    color: #24388D;
}

.news-title-main-slash{
    width:8px;
    height:16px;
    margin-right:4px;
}

.news-title-sub{
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.04em;  
    color: rgba(20, 24, 44, 0.9);
    margin-top:8px;
}