table {
  margin-top: 22px;
  margin-right: 15px;
}

thead {
  border-top: 2px solid #223c87;
}

tr {
  border-bottom: 1px solid #919bc6;
}

thead th {
  font-weight: 700;
  color: #24388d;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  vertical-align: middle;
}

thead tr {
  height: 34px;
}

.news-col-order {
  width: 46px;
}

.news-col-content {
  width: 579px;
}

.news-col-date {
  width: 85px;
}

.news-data {
  height: 90px;
}

.news-data td {
  height: 90px;
}

.news-data-content {
  display: flex;
  align-items: center;
}

.news-data-content > img {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

.news-data-content > div {
  margin-left: 10px;
}

.news-data-order {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #24388d;
  text-align: center;
}

.news-data-content-title {
  text-align: left;
  color: #24388d;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.news-data-content-description {
  margin-top: 5px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #878787;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-data-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #24388d;
  text-align: center;
  vertical-align: top;
}
